* {
  box-sizing: border-box;
 /*border: 1px solid black; */
}
body {
  background-color: #cc0215;
  font-family: 'Lato', sans-serif;
}
#logo {
  position: relative;
  width: 525px;
  height: 280px;
  margin: 0 auto;
  margin-top: 180px;
  color: white;
  font-size: 48px;
}
#spacing_container {
  width: 344px;
  height: 280px;
  margin: auto;
}
.yellow {
  color: #f3e504;
/* This border puts the gap in the grey bar by putting
a red bar above all the yellow letters. I don't think
the side effect will be an issue. */
  border-top: 4px solid #cc0215;
}
#jeffrey {
  position: absolute;
  top: 0px;
}
#eaton {
  position: absolute;
  top: 59px;
  margin-left: 164px;
}
#enthusiastic {
  color: black;
  font-weight: bolder;
  position: absolute;
  top: 118px;
  border-top: 4px solid #c4bec1;
}
#grey {
  color: #c4bec1;
}
#development {
  font-size: 35px;
  position: absolute;
  top: 177px;
  margin-left: 20px;
}
#point {
  font-size: 52px;
}
a {
  color: #c4bec1;
}
nav {
  list-style-type: none;
  position: relative;
  margin-top: 80px;
  width: 800px;
  margin: auto;
  font-size: 35px;
}
ul {
  width: 800px;
  margin: auto;
  margin-top: 200px;
}
li {
  display: inline;
  padding: 35px;
}
li a {
  text-decoration: none;
}
