* {
  box-sizing: border-box;
  /*border: 1px solid black;*/
}
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #cc0215;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
#logo {
  position: relative;
  width: 525px;
  height: 280px;
  margin: 0 auto;
  margin-top: 120px;
  color: white;
  font-size: 48px;
}
#spacing-container {
  width: 344px;
  height: 280px;
  margin: auto;
}
.yellow {
  color: #f3e504;
  /* This border puts a red bar above the yellow letters
  in the logo to effect a gap in the grey bar. */
  border-top: 4px solid #cc0215;
}
#jeffrey {
  position: absolute;
  top: 0px;
}
#eaton {
  position: absolute;
  top: 59px;
  margin-left: 164px;
}
#enthusiastic {
  color: black;
  font-weight: bolder;
  position: absolute;
  top: 118px;
  border-top: 4px solid #c4bec1;
}
#development {
  font-size: 35px;
  position: absolute;
  top: 177px;
  margin-left: 20px;
}
#point {
  font-size: 52px;
}
#projects {
  position: relative;
  height: 800px;
  margin: 0 auto;
  font-size: 35px;
  margin-top: 250px;
}
#projects-container{
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 200px;
}
#projects-container img {
  width: 100%;
}
.project-boxes {
  display: inline-block;
  border: 4px solid #c4bec1;
  width: 320px;
  height: 241px;
  margin: 15px;
}
.header {
  text-align: left;
  margin-left: 20px;
  width: 80%;
  height: 44px;
  margin: 0 auto;
  clear: both;
  color: #f3e504;
}
#italy {
  position: relative;
  float: left;
  width: 60%;
}
#contact-bar {
  position: absolute;
  right: 0;
  margin-top: 210px;
  background: black;
  color: white;
  width: 100%;
  height: 98px;
  z-index: -1;
}
#logos-div {
  height: 41px;
  float: left;
  padding-top: 25px;
  margin-left: 68%;
}
#contact-text {
  text-align: right;
  padding-right: 15px;
}
p {
  font-size: 18px;
}
#linkedin {
  margin-right: 30px;
}
#italy-sm {
  display: none;
}

@media screen and (max-width: 1099px){
  #italy {
    display: none;
  }
  #italy {
    display: block;
  }
}
