* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #cc0215;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
#logo {
  position: relative;
  width: 525px;
  height: 280px;
  margin: 0 auto;
  margin-top: 120px;
  color: white;
  font-size: 48px;
}
#spacing-container {
  width: 344px;
  height: 280px;
  margin: auto;
}
.yellow {
  color: #f3e504;
  /* This border puts a red bar above the yellow letters
  in the logo to effect a gap in the grey bar. */
  border-top: 4px solid #cc0215;
}
#jeffrey {
  position: absolute;
  top: 0px;
}
#eaton {
  position: absolute;
  top: 59px;
  margin-left: 164px;
}
#enthusiastic {
  color: black;
  font-weight: bolder;
  position: absolute;
  top: 118px;
  border-top: 4px solid #c4bec1;
}
#development {
  font-size: 35px;
  position: absolute;
  top: 177px;
  margin-left: 20px;
}
#point {
  font-size: 52px;
}
#projects {
  position: relative;
  height: 800px;
  margin: 0 auto;
  font-size: 35px;
  margin-top: 250px;
}
#projects-container{
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 200px;
}
#projects-container img {
  width: 100%;
}
.project-boxes {
  display: inline-block;
  border: 4px solid #c4bec1;
  width: 320px;
  height: 241px;
  margin: 15px;
}
.header {
  text-align: left;
  margin-left: 20px;
  width: 80%;
  height: 44px;
  margin: 0 auto;
  clear: both;
  color: #f3e504;
}
#italy {
  position: relative;
  float: left;
  width: 60%;
}
#contact-bar {
  position: absolute;
  right: 0;
  margin-top: 210px;
  background: black;
  color: white;
  width: 100%;
  height: 98px;
  z-index: -1;
}
#logos-div {
  height: 70px;
  float: right;
  padding-top: 25px;
}
#contact-text {
  text-align: right;
  padding-right: 15px;
}
p {
  padding-right: 10px;
  line-height: 30px;
  text-align: right;
  float: right;
  width: 230px;
  font-size: 18px;
}
#italy-sm {
  display: none;
}
.logos{
  padding-right: 20px;
}
#italy_small {
  display: none;
}
#logo-sm {
  display: none;
}
@media screen and (max-width: 939px){
  #italy {
    display: none;
  }
  #italy_small {
    display: block;
    width: 100%;
    margin-top: 40px;
  }
  .logos{
    padding: 0px;
  }
  p {
    font-size: 14px;
  }
  #contact-bar {
    margin-top: 0;
    z-index: 1;
  }
}
@media screen and (max-width: 420px){
  #spacing-container {
    display: none;
  }
  #logo-sm {
    display: block;
    margin-left: 45px;
  }
}
